
#hero {
    background: url('../images/dev_1.jpg')no-repeat 50% 50%;
    background-size: cover;
    height: 650px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
h1{
    background: rgba(255,255,255,0.6);
    padding: 36px 0;
}
p,
.text-warp {
    font-size: 22px;
    margin-top: 25px;
}

#maincontent h3{
    font-size: 28px;
    font-weight: bold;
}
#maincontent h4{
    font-size: 26px;
    font-weight: bold;
}

.readmore {
    text-align: right;
    font-size: 20px;
    font-weight: 400;
}

.list-inline li img {
/*    max-width: 200px;*/
}
